{% extends "base.html" %}

    {% block conteudo %}    
        <h1>Converter Celsius para Fahrenheit</h1>
        <form action="/calc_fahrenheit" method="get">
            <div class="form-group">
                <label for="celsius">Temperatura em Celsius:</label>
                <input type="number" class="form-control" id="celsius" name="celsius" required="">
            </div>
            <button type="submit" class="btn btn-primary">Converter</button>
        </form>
            <div>
                <h1>{{ text }}</h1>
                <p>{{ result_fahreheit }}</p>
            </div>            
        <div>
    {% endblock %}

