{% extends "base.html" %}
        
    {% block conteudo %}
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo a Matemática</h1>
            <p class="lead">Este é um exemplo de algumas fórmulas Matemáticas.</p>
            <hr class="my-4">
            <p>Escolha uma das opções abaixo:</p>
            <a class="btn btn-primary btn-lg" href="/calculo2grau" role="button">Calcular Equação do 2º Grau</a>
            <a class="btn btn-success btn-lg" href="/fahrenheit" role="button">Converter Celsius para Fahrenheit</a>
        </div>
    {% endblock %}

