<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício Cliente</title>
</head>
<body>
    <form action="/cad_cliente" method="post">
        <label>Nome: </label><br>
        <input type="text" name="nome" required><br>
        <label>CPF: </label><br>
        <input type="text" name="cpf" required><br>
        <label>RG: </label><br>
        <input type="text" name="rg" required><br>
        <label>Endereço: </label><br>
        <input type="text" name="endereco" required><br>
        <label>Bairro: </label><br>
        <input type="text" name="bairro" required><br>
        <label>Cidade: </label><br>
        <input type="text" name="cidade" required><br>
        <label>CEP: </label><br>
        <input type="text" name="cep" required><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>