{% extends "base.html" %}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Cursos</h1>
    <form class="form-group d-flex align-items-center mt-4" action="/procura_curso" method="post">
        <input class="form-control me-2" type="search" name="pesquisa_curso" placeholder="Digite aqui o nome do curso..." required>
        <button type="submit" class="btn p-0">
            <img src="{{ url_for("static", filename="pesquisa.png") }}" style="height: 30px; width: 30px;"></img>
        </button>
    </form>
           
    {% if pesquisa == False %}
        <table class="table table-sprited mt-4">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome do Curso</th>
                <th scope="col">Carga Horária Total</th>
                <th scope="col">Excluir</th>
                <th scope="col">Alterar</th>
            </tr>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso[0] }}</td>

                    <td>{{ curso[1] }}</td>

                    <td>{{ curso[2] }}</td>

                    <td><a href={{ url_for("exclui_curso", id=curso[0]) }}><img src="{{ url_for("static", filename="bloquear.png") }}" style="height: 30px; width: 30px;"></a></td>

                    <td><a href={{ url_for("tela_edit_curso", id=curso[0]) }}><img src="{{ url_for("static", filename="editar.png") }}" style="height: 30px; width: 30px;"></a></td>
                </tr>
            {% endfor %}
    </table>
    {% else %}
        {% if cursos %}
            <table class="table table-sprited mt-4">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome do Curso</th>
                    <th scope="col">Carga Horária Total</th>
                    <th scope="col">Excluir</th>
                    <th scope="col">Alterar</th>
                </tr>

                {% for curso in cursos %}
                    <tr>
                        <td>{{ curso[0] }}</td>

                        <td>{{ curso[1] }}</td>

                        <td>{{ curso[2] }}</td>

                        <td><a href={{ url_for("exclui_curso", id=curso[0]) }}><img src="{{ url_for("static", filename="bloquear.png") }}" style="height: 30px; width: 30px;"></a></td>

                        <td><a href={{ url_for("tela_edit_curso", id=curso[0]) }}><img src="{{ url_for("static", filename="editar.png") }}" style="height: 30px; width: 30px;"></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                {{ mensagem }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="container text-center mt-4">
            <a href="/tela_exc_edit_curso" class="btn btn-primary">Ver Lista de Cursos</a>
        </div>
    {% endif %}
{% endblock %}